{% extends "@FOSUser/compte.html.twig" %}
{% block fos_user_content %}
    <div style="margin-top: -90px">
        <label>username actuelle: </label>{{ username }}
        <form method="POST">
            <input type="text" name="username">
            <input type="submit" value="valider">
        </form>
    </div>
    <br><br>
{% endblock fos_user_content %}